@using System.Reflection
@using Mindbite.Mox.Attributes
@using System.ComponentModel.DataAnnotations
@using Microsoft.Extensions.Localization
@using Mindbite.Mox.UI

@inject IStringLocalizer localizer

@{
    var modelType = ((object)Model).GetType();
    var formFields = modelType.GetProperties();
    var hiddenFields = new List<System.Reflection.PropertyInfo>();
    var excludedFields = new List<System.Reflection.PropertyInfo>();

    if (typeof(Mindbite.Mox.Core.Data.Models.ISoftDeleted).IsAssignableFrom(modelType))
    {
        var interfaceFields = typeof(Mindbite.Mox.Core.Data.Models.ISoftDeleted).GetProperties().Select(x => x.Name);
        excludedFields.AddRange(formFields.Where(x => interfaceFields.Contains(x.Name)));
    }

    if (typeof(Mindbite.Mox.Core.Data.Models.IUIDEntity).IsAssignableFrom(modelType))
    {
        var interfaceFields = typeof(Mindbite.Mox.Core.Data.Models.IUIDEntity).GetProperties().Select(x => x.Name);
        excludedFields.AddRange(formFields.Where(x => interfaceFields.Contains(x.Name)));
    }

    var hasRenderedFirstField = false;
    var currentFieldSet = default(string);
}

@foreach (var field in formFields.OrderBy(x => x.GetCustomAttribute<MoxFormFieldSetAttribute>(true)?.Order).ThenBy(x => x.GetCustomAttribute<DisplayAttribute>(true)?.GetOrder() ?? 10000))
{
    var fieldSetAttribute = field.GetCustomAttribute<MoxFormFieldSetAttribute>(true);
    if (currentFieldSet != fieldSetAttribute?.Name)
    {
        currentFieldSet = fieldSetAttribute?.Name;
        @Html.Raw("</fieldset>")
        @Html.Raw("<fieldset>")
        <legend>@localizer[currentFieldSet]</legend>
    }

    if (excludedFields.Contains(field))
    {
        continue;
    }

    var formDataSourceAttributeSelectList = default(IEnumerable<SelectListItem>);
    var formDataSourceAttributeEmptyMessage = default(string);
    if (field.GetCustomAttributes<MoxFormDataSourceAttribute>().Any())
    {
        var actionDescriptor = (Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor;
        var dataSourceAttribute = field.GetCustomAttribute<MoxFormDataSourceAttribute>();
        formDataSourceAttributeSelectList = await dataSourceAttribute.GetSelectListAsync(ViewContext.HttpContext, actionDescriptor.ControllerTypeInfo.AsType(), ((object)Model).GetType());
        formDataSourceAttributeEmptyMessage = await dataSourceAttribute.GetEmptyMessageAsync(ViewContext.HttpContext, actionDescriptor.ControllerTypeInfo.AsType());
    }

    var formFieldAttributes = field.GetCustomAttributes<MoxFormFieldTypeAttribute>();

    if(formFieldAttributes.Any(x => x.Render == Render.NoOutput))
    {
        continue;
    }
    else if (hiddenFields.Contains(field) || field.GetCustomAttributes(typeof(HiddenInputAttribute), true).Any())
    {
        @Html.Hidden(field.Name)
    }
    else if (field.GetCustomAttributes<MoxFormFieldTypeAttribute>().Any() && (field.PropertyType.IsEnum || (Nullable.GetUnderlyingType(field.PropertyType)?.IsEnum ?? false) || typeof(IEnumerable<SelectListItem>).IsAssignableFrom(field.PropertyType) || formFieldAttributes.Any(x => x.Render == Render.CheckBoxList || x.Render == Render.DropDown || x.Render == Render.Radio)))
    {
        var fieldTypeAttribute = field.GetCustomAttribute<MoxFormFieldTypeAttribute>();
        var items = Enumerable.Empty<SelectListItem>();
        var emptyMessage = default(string?);

        if (field.PropertyType.IsEnum || (Nullable.GetUnderlyingType(field.PropertyType)?.IsEnum ?? false))
        {
            items = Html.GetEnumSelectList(field.PropertyType).ToArray();
        }
        else if(formDataSourceAttributeSelectList != null)
        {
            items = formDataSourceAttributeSelectList;
            emptyMessage = formDataSourceAttributeEmptyMessage;
        }
        else if(!string.IsNullOrWhiteSpace(fieldTypeAttribute.DataSourcePropertyName))
        {
            var dataSourceProperty = formFields.FirstOrDefault(x => x.Name == fieldTypeAttribute.DataSourcePropertyName);
            if (dataSourceProperty == null)
            {
                items = ((IEnumerable<SelectListItem>)field.GetValue((object)Model)).ToArray();
            }
            else if(dataSourceProperty.PropertyType.IsEnum || (Nullable.GetUnderlyingType(dataSourceProperty.PropertyType)?.IsEnum ?? false))
            {
                items = Html.GetEnumSelectList(field.PropertyType).ToArray();
            }
            else
            {
                items = ((IEnumerable<SelectListItem>)dataSourceProperty.GetValue((object)Model)).ToArray();
            }
        }

        emptyMessage ??= fieldTypeAttribute.EmptyLabel;

        var additionalViewData = new ViewDataDictionary(ViewData);
        additionalViewData["SelectList"] = items;
        additionalViewData["OptionLabel"] = localizer[emptyMessage ?? ""];

        switch (fieldTypeAttribute.Render)
        {
            case Render.DropDown:
                <p>
                    @Html.Label(field.Name)
                    @Html.ValidationMessage(field.Name)
                    @Html.DropDownList(field.Name, items, emptyMessage != null ? localizer[emptyMessage] : null)
                </p>
                break;
            case Render.CheckBoxList:
                <div>
                    @Html.Label(field.Name)
                    @Html.ValidationMessage(field.Name)
                    @Html.CheckBoxList(field.Name, items, new { the_form = "moxform\"<zdasd>das" })
                </div>
                break;
            case Render.Radio:
                <div>
                    @Html.Label(field.Name)
                    @Html.ValidationMessage(field.Name)
                    @Html.RadioList(field.Name, items, new { the_form = new Guid() })
                </div>
                break;
            default:
                {
                    <div>
                        @Html.Label(field.Name)
                        @Html.ValidationMessage(field.Name)
                        @Html.Editor(field.Name, additionalViewData: additionalViewData)
                    </div>
                }
                break;
        }
    }
    else
    {
        var renderAttribute = field.GetCustomAttributes<MoxFormFieldTypeAttribute>().FirstOrDefault();
        var additionalViewData = new ViewDataDictionary(ViewData);

        if (formDataSourceAttributeSelectList != null)
        {
            additionalViewData["SelectList"] = formDataSourceAttributeSelectList;
            additionalViewData["OptionLabel"] = localizer[formDataSourceAttributeEmptyMessage ?? ""];
        }

        @if (field.PropertyType == typeof(bool))
        {
            <p class="checkbox">
                @Html.Editor(field.Name, additionalViewData)
                @Html.Label(field.Name)
                @Html.ValidationMessage(field.Name)
            </p>
        }
        else
        {
            @if (renderAttribute?.Render == Render.EditorOnly)
            {
                <div>
                    @Html.Editor(field.Name, additionalViewData)
                </div>
            }
            else if(renderAttribute?.Render == Render.DivContainer)
            {
                <div>
                    @Html.Label(field.Name)
                    @Html.ValidationMessage(field.Name)

                    @if (!hasRenderedFirstField)
                    {
                        additionalViewData["htmlAttributes"] = new { autofocus = "autofocus" };
                    }
                     
                    @Html.Editor(field.Name, additionalViewData)
                </div>
            }
            else
            {
                <p>
                    @Html.Label(field.Name)
                    @Html.ValidationMessage(field.Name)

                    @if (!hasRenderedFirstField)
                    {
                        additionalViewData["htmlAttributes"] = new { autofocus = "autofocus" };
                    }
                     
                    @Html.Editor(field.Name, additionalViewData)
                </p>
            }
            hasRenderedFirstField = true;
        }
    }
}