@using Mindbite.Mox.UI 
@using Mindbite.Mox.Extensions 
@using Microsoft.Extensions.Localization

@inject IStringLocalizer localizer

@{
    Layout = (string)ViewData["Layout"];
}

@if ((bool)ViewData["RenderDefaultEditHeader"])
{
    @if (!Context.Request.IsAjaxRequest())
    {
        @await Html.Mox().BreadCrumbsAsync(BreadCrumbMenuReference.Current)
    }
    <h1>@ViewData["EditPageHeading"]</h1>
    @Html.Mox().Message()
}

@if (!string.IsNullOrWhiteSpace((string)ViewData["EditHeaderPartial"]))
{
    @await Html.PartialAsync((string)ViewData["EditHeaderPartial"], (object)Model)
}

@using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @await Html.PartialAsync("_Form_Fields", (object)Model)
    </fieldset>

    <fieldset class="buttons">
        <p>
            <input type="submit" value="@localizer["Spara ändringar"]" />
        </p>
    </fieldset>
}