@using Mindbite.Mox.Extensions
@using Microsoft.Extensions.Localization;
@{
    Layout = "Mox/_Layout";
}
@model Mindbite.Mox.Identity.ViewModels.CreateUserViewModel
@inject IStringLocalizer localizer

@await Html.PartialAsync("Mox/UI/AppBreadCrumbs", new { IncludeCurrentMenu = true }.ToExpando())

<h1>@localizer["Skapa användare"]</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <p>
            @Html.LabelFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { autofocus = true })
        </p>

        <p>
            @Html.LabelFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email)
        </p>
    </fieldset>

    <fieldset>
        <legend>@localizer["Behörigheter"]</legend>

        <ul class="checkbox" id="js-groups">
            @for (var i = 0; i < Model.Roles.Length; i++)
            {
                <li class="mox-group-depth-@Model.Roles[i].Depth @(Model.Roles[i].IsParent ? "mox-group-parent" : "")">
                    @Html.HiddenFor(model => model.Roles[i].Id)
                    @Html.HiddenFor(model => model.Roles[i].Name)
                    @Html.HiddenFor(model => model.Roles[i].Depth)
                    @Html.HiddenFor(model => model.Roles[i].IsParent)
                    @Html.CheckBoxFor(model => model.Roles[i].Checked, new { onclick = $"Mox.UI.CheckboxTree.onClick(document.getElementById('js-groups'), this, '{Model.Roles[i].Id}');", data_id = Model.Roles[i].Id })
                    @Html.LabelFor(model => model.Roles[i].Checked, Model.Roles[i].Name)
                </li>
            }
        </ul>
    </fieldset>
    <fieldset class="buttons">
        <p>
            <input type="submit" value="@localizer["Skapa"]" />
        </p>
    </fieldset>
}