@using Mindbite.Mox.Extensions
@using Microsoft.Extensions.Localization;

@model Mindbite.Mox.Identity.ViewModels.EditUserViewModel
@inject IStringLocalizer localizer
@{
    Layout = "Mox/_Layout";
}

@await Html.PartialAsync("Mox/UI/AppBreadCrumbs", new { IncludeCurrentMenu = true }.ToExpando())

@await Html.PartialAsync("Mox/Identity/_UserSettingsHeader", new { UserId = Model.Id }.ToExpando())

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <fieldset>
        <p>
            @Html.LabelFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name)
        </p>

        <p>
            @Html.LabelFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email)
        </p>

        <p>
            @Html.LabelFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
            @Html.PasswordFor(model => model.Password)
        </p>

        <p>
            @Html.LabelFor(model => model.RepeatPassword)
            @Html.ValidationMessageFor(model => model.RepeatPassword)
            @Html.PasswordFor(model => model.RepeatPassword)
        </p>
    </fieldset>

    <fieldset>
        <legend>@localizer["Behörigheter"]</legend>

        <ul class="checkbox">
            @for (var i = 0; i < Model.Roles.Length; i++)
            {
                <li>
                    @Html.HiddenFor(model => model.Roles[i].Id)
                    @Html.HiddenFor(model => model.Roles[i].Name)
                    @Html.CheckBoxFor(model => model.Roles[i].Checked)
                    @Html.LabelFor(model => model.Roles[i].Checked, localizer[$"role_{Model.Roles[i].Name}"])
                </li>
            }
        </ul>
    </fieldset>
    <fieldset class="buttons">
        <p>
            <input type="submit" value="@localizer["Spara"]" />
        </p>
    </fieldset>
}
