@using Mindbite.Mox.Extensions
@using Mindbite.Mox.UI
@using Microsoft.Extensions.Localization
@using Microsoft.EntityFrameworkCore

@inject Mindbite.Mox.Services.IDbContextFetcher dbContextFetcher
@inject IStringLocalizer localizer

@model Mindbite.Mox.UI.IDataTable
@{
    Layout = "Mox/_Layout";
    var dbContext = dbContextFetcher.FetchDbContext<Mindbite.Mox.Identity.Data.MoxIdentityDbContext>();

    var roleGroups = await dbContext.RoleGroups.OrderBy(x => x.GroupName).Select(x => new SelectListItem(x.GroupName, x.Id.ToString())).ToListAsync();
}

@await Html.Mox().BreadCrumbsAsync(BreadCrumbMenuReference.Parent) 
<h1>@localizer["Inloggningskonton"]</h1>
@Html.Mox().Message()

<ul class="mox-filters">
    <li class="break">
        @Html.ActionLink(localizer["Skapa ny"], "Create", null, null, new { @class = "mox-button" })
    </li>
    <li>
        @Html.DropDownList("RoleGroup", roleGroups, localizer["- Alla behörighetsgrupper -"])
    </li>
    <li>
        <input type="text" id="js-filter" name="filter" placeholder="@localizer["Sök på epost eller namn"]">
    </li>
</ul>

<div id="js-table"></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        Mox.UI.DataTable.create({
            container: document.getElementById('js-table'),
            url: '@Url.Action("Table")',
            filters: ['@Html.Id("RoleGroup")', 'js-filter']
        });
    });
</script>