@using Mindbite.Mox.Extensions
@using Mindbite.Mox.UI 
@{
    Layout = this.Context.Request.IsAjaxRequest() ? "" : "Mox/_Layout";
}
@model Mindbite.Mox.DesignDemoApp.Data.Models.Design

@if (!this.Context.Request.IsAjaxRequest())
{
    @await Html.Mox().BreadCrumbsAsync(BreadCrumbMenuReference.Current)
}

<h1>@Model.Title</h1>
@Html.Mox().Message()

@await Html.PartialAsync("_DisplayMenu")

<p>
    @Html.ActionLink("Redigera", "Edit", null, new { id = Model.Id }, new { @class = "mox-button" })
</p>

<div class="mox-display">
    @Html.LabelFor(model => model.Title)
    <div class="mox-display-content">@Html.DisplayFor(model => model.Title)</div>
    
    @Html.LabelFor(model => model.Description)
    <div class="mox-display-content">@Html.DisplayFor(model => model.Description)</div>
</div>