@using Mindbite.Mox.Extensions
@{
    Layout = this.Context.Request.IsAjaxRequest() ? "" : "Mox/_Layout";
}
@model Mindbite.Mox.DesignDemoApp.Data.Models.Design

@if (!this.Context.Request.IsAjaxRequest())
{
    @await Html.PartialAsync("Mox/UI/AppBreadCrumbs", new { IncludeCurrentMenu = true }.ToExpando())
}

<h1>@Model.Title</h1>

@await Html.PartialAsync("_DisplayMenu")

<p>
    @Html.ActionLink("Redigera", "Edit", null, new { id = Model.Id }, new { @class = "mox-button" })
</p>

<div class="mox-display">
    @Html.LabelFor(model => model.Title)
    <div class="mox-display-content">@Html.DisplayFor(model => model.Title)</div>
    
    @Html.LabelFor(model => model.Description)
    <div class="mox-display-content">@Html.DisplayFor(model => model.Description)</div>
</div>