@using Mindbite.Mox.HtmlTable
@model HtmlTable

<h2>@Model.Options.Title</h2>

<div class="mox-html-table-controls">
    @if (Model.Options.HasChart)
    {
        <fieldset class="mox-html-table-select-chart-type">
            <p>
                <label for="@(Model.Options.UniqueId)-label">Diagramtyp: </label>
                <select id="@(Model.Options.UniqueId)-label" onchange="window.moxHtmlTables['x@(Model.Options.UniqueId)'].setChartType(this.value)">
                    <option value="bar">Stapel</option>
                    <option value="line">Linje</option>
                    <option value="pie">Paj</option>
                    <option value="doughnut">Munk</option>
                    <option value="polarArea">Polar</option>
                    <option value="radar">Radar</option>
                    @*<option value="bubble">bubble</option>
                    <option value="scatter">scatter</option>*@
                </select>
            </p>
        </fieldset>

        <fieldset class="mox-html-table-switch-x-axis">
            <p>
                <button type="button" class="mox-button" onclick="window.moxHtmlTables['x@(Model.Options.UniqueId)'].switchXAxis()">Växla rad/kolumn som X-axel</button>
            </p>
        </fieldset>
    }

</div>
<div class="mox-html-table">
    <div>
        <table id="@Model.Options.UniqueId" class="@Model.Options.Css @Model.Options.TextAlign">
            <tbody>
                @foreach (IRow row in Model.Rows)
                {
                    @row.ToHtmlString()
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    window.moxHtmlTables = window.moxHtmlTables || {};

    ready(setupTable);

    function setupTable()
    {
        window.moxHtmlTables['x@(Model.Options.UniqueId)'] = new HtmlTable.Table('@(Model.Options.ChartCanvasId)', '@(Model.Options.ChartTitle)', '@(Model.Options.UniqueId)', @(Model.Options.HasChart.ToString().ToLower()));        
    }
        
</script>