@using Microsoft.Extensions.Localization;
@{
    Layout = "Mox/LogIn/_Layout";
}
@model Mindbite.Mox.Identity.ViewModels.AccountViewModel.LogInViewModel
@inject IStringLocalizer localizer

@using (Html.BeginForm())
{
    <fieldset>

        @Html.ValidationSummary(true)

        <h2>@localizer["Logga in"]</h2>

        <p>
            @Html.ValidationMessageFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { placeholder = Html.DisplayNameFor(x => x.Email), autofocus = true })
        </p>

        <p>
            @Html.CheckBoxFor(model => model.RememberMe)
            @Html.LabelFor(model => model.RememberMe)
        </p>

        <div class="mox-login-col2">
            <div>
            </div>
            <div>
                <input type="submit" value="@localizer["Nästa"]" />
            </div>
        </div>
    </fieldset>
}