@using Microsoft.Extensions.Localization;
@{
    Layout = "Mox/LogIn/_Layout";
}
@model Mindbite.Mox.Identity.ViewModels.AccountViewModel.PasswordViewModel
@inject IStringLocalizer localizer

@using (Html.BeginForm())
{
    <fieldset>

        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.Email)
        @Html.HiddenFor(x => x.RememberMe)

        <h2>@localizer["Logga in med lösenord"]</h2>

        <p>
            @Html.ValidationMessageFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { placeholder = Html.DisplayNameFor(x => x.Password), autofocus = true })
        </p>

        <p>
            <input type="submit" value="@localizer["Logga in"]" />
            @Html.ActionLink(localizer["Avbryt"], "Index", "LogIn")
        </p>
    </fieldset>
}