@using Microsoft.Extensions.Localization;
@{
    Layout = "Mox/LogIn/_Layout";
}
@model Mindbite.Mox.Identity.ViewModels.AccountViewModel.PasswordOrMagicLinkViewModel
@inject IStringLocalizer localizer

<fieldset>
    @Html.ValidationSummary(true)

    <h2>@localizer["Långt lösenord?"]</h2>
    <p>
        Har du ett långt lösenord, eller har du kanske glömt det?<br />
        <strong>Logga in utan lösenord</strong> med ett klick via vår magiska e-postlänk!
    </p>

    <div class="mox-login-col2">
        <div>
            @using (Html.BeginForm("SendMagicLink", null))
            {
                @Html.HiddenFor(x => x.Email)
                @Html.HiddenFor(x => x.RememberMe)
                @Html.HiddenFor(x => x.ReturnUrl)

                <input type="submit" value="@localizer["Skicka länk"]" class="mox-login-button" />
            }
        </div>
        <div>
            <a href="@Url.Action("PasswordLogin", new { Model.Email, Model.RememberMe, Model.ReturnUrl })" class="mox-login-button plain">@localizer["Använd lösenord"]</a>
        </div>
    </div>
</fieldset>
