@using Mindbite.Mox.UI

@model object
@{ 
    var listItems = (IEnumerable<SelectListItem>)ViewData["SelectList"];
}

<ul class="mox-checkboxlist" @Html.HtmlAttributesFromObject(ViewData["HtmlAttributes"])>
    @foreach (var item in listItems)
    {
        var id = Html.IdFor(x => x) + "_" + item.Value;
        var isChecked = Model?.ToString() == item.Value;

        <li>
            <input type="radio" name="@Html.NameFor(x => x)" id="@id" @(isChecked ? "checked" : "") value="@item.Value" />
            <label for="@id">@item.Text</label>
        </li>
    }
</ul>